
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	line-height: 1.6;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

h1,
h2,
h3,
p {
	margin: 0;
}

a  { 
	color: #e3bab3;
}

a:hover {
	color: #36384c;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 760px;
	margin: 0 auto;
	padding: 5px
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

.header-image {
	border-radius: 50%;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: #435400;
}

main p {
	margin: 1rem 0;
}

footer {
	background: #9BA17B;
	height: 100px;
	margin-top: 1rem;
}