
/* CSS reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	line-height: 1.6;
	background: black;
	color: #999999;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

h1,
h2,
h3,
p {
	margin: 0;
}

/* Document */

h1 {
	color: white;
	font-size: 1.4rem;
}

h2 {
	color: #d4d1d0;
	font-size: 1.2rem;
}

p {
	margin: 5px 0 5px 0;
}

a {
	color: #4ab0ff;
	text-decoration: none;
}

.highlight {
	color: #4ab0ff;
}

.secondary-highlight {
	font-size: 1rem;
	color: #585858;
}

.button {
	background: #4ab0ff;
	color: #000000;
	padding: 0.3rem;
	text-transform: uppercase;
	font-size: .9rem;
	transition: 0.1s ease-in-out;
	font-variation-settings: 'wght' 650;
}

header,
main {
	max-width: 800px;
	margin: 0 auto;
}

.post, 
.recent-activity {
	padding: 0 5px;
}

/* Header */

.home-avatar {
	border-radius: 50%;
}

.profile-info {
	display: flex;
	flex-wrap: wrap;
	margin-top: -65px;
}

.profile-avatar {
	border-radius: 50%;
	align-self: center;
	position: relative;
}

.profile-details {
	padding-left: .5rem;
	flex: 1 0 350px;
}

.profile-details h1 {
	color: white;
}

.profile-details h2 {
	margin-top: -7px;
}

/* Main */

.recent-activity {
	border-top: 3px solid #1a1a1a;
	margin-top: 10px;
}

.recent-activity-wrapper {
	padding: 5px 0 5px 0;
}
.recent-activity-wrapper h2 {
	align-self: center;
}

.recent-post-wrapper {
	padding-left: 10px;
}

.recent-activity-wrapper {
	display: flex;
	justify-content: space-between;
}

.recent-post {
	background: #1a1a1a;
	display: flex;
	margin-bottom: 2px;
}

.recent-post-thumb {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	align-self: center;
}

.recent-post-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.post-discussion-link {
    display: flex;
}

.post-discussion-url {
    align-items: center;
    padding-left: 3px;
}

/* Footer */
.social-bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.social-icons {
    height: 32px;
    width: 32px;
    margin: 15px;
    transition: all .1s ease-in-out;
}

.social-icons:hover {
    transform: scale(1.2);
}

.disclaimer {
    text-align: center;
}